.App {
  height: 100%;
}

.myInfo{
  margin: 20px;
}

.leaflet-container {
  height: 500px;;
  width: 95%;
  margin: 0 auto;
}

.pageHeader{

}

.mainContent{
  height: 100%;
  width: 100%;
}

.searchBox{
  margin: 20px;
}

.pageFooter{
  margin: 20px;
  text-align: center;
}

.divPadding{
  padding: 0px 10px 0px 10px;
};

.badgeMargin{
  margin: .25em !important;
};

.favButtons{
  margin: 5px;
}

.custom-popup .leaflet-popup-content-wrapper {
  background:#3D5A80;
  color:#fff;
  font-size:16px;
  line-height:24px;
  }
.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
.custom-popup .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #2c3e50;
  }

  .text-lg {
    font-size: 1.125rem;
  }

  .p-4 {
    padding: 1rem;
  }

  .shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  }

  .appearance-none {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }

  .rounded {
    border-radius: .25rem;
  }

  .w-full {
    width: 100%;
  }

  .py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .px-3 {
    padding-left: .75rem;
    padding-right: .75rem;
  }

  .text-grey-darker {
    color: #606f7b;
  }
  
  .leading-tight {
    line-height: 1.25;
  }

  .focus\:outline-none:focus {
    outline: 0;
  }
  
  .focus\:shadow-outline:focus {
    box-shadow: 0 0 0 3px rgba(52, 144, 220, .5);
  }

  .mb-4 {
    margin-bottom: 1rem;
  }

  .bg-green {
    background-color: #38c172 !important ;
  }

  .bg-dkblue {
    background-color: #0F5257 !important ;
  }

  .bg-lgblue {
    background-color: #40798C !important ;
  }

  .text-white {
    color: #fff;
  }

  .bg-orange {
    background-color: #f6993f !important ;
  }

  .bg-grey-light {
    background-color: #9ba1a5 !important ;
  }

  .text-grey {
    color: #b8c2cc;
  }

  .mb-2 {
    margin-bottom: .5rem;
  }

  .roman {
    font-style: normal;
  }

  .font-bold {
    font-weight: 700;
  }