.App {
  height: 100%;
}

.myInfo{
  margin: 20px;
}

.leaflet-container {
  height: 500px;;
  width: 95%;
  margin: 0 auto;
}

.pageHeader{

}

.mainContent{
  height: 100%;
  width: 100%;
}

.pageFooter{
  margin: 20px;
}